streamlit==1.44.1
numpy==2.2.4
pandas==2.2.3
plotly==6.0.1
seaborn==0.13.2
matplotlib==3.10.1
scipy==1.15.2
scikit-learn==1.6.1
python-dotenv==1.1.0
networkx==3.4.2
pingouin==0.5.5
statsmodels==0.14.4
altair==5.5.0
pillow==11.1.0
